{{ partial "header.html" . }}
<div class="splash">
  <section class="container">
    <div class="row vertical">
      <div class="five columns">
        <img class="s4" src="static/images/s4.png" />
        <h1 class="large">Self-hosted newsletter &amp; mailing list manager</h1>
        <h3>
          Performance and features packed into a single binary.
          <strong>Free and open source.</strong>
        </h3>
        <br />
        <p>
          <a href="#download" class="button">Download</a>
        </p>
      </div>
      <div class="seven columns">
        <div class="confetti">
          <img class="s1" src="static/images/s1.png" />
          <img class="s2" src="static/images/s2.png" />
          <img class="s3" src="static/images/s3.png" />
          <img class="box" src="{{ .Site.BaseURL }}static/images/splash.png" alt="listmonk screenshot" />
        </div>
      </div>
    </div>
  </section>
</div>

<section id="download">
  <div class="container">
    <h1>Download</h1>
    <p>
      The latest version is <strong>{{ .Page.Site.Data.github.version }}</strong>
      released on {{ .Page.Site.Data.github.date | dateFormat "02 Jan 2006" }}.
    </p>

    <div class="row">
      <div class="six columns">
        <h3>Binary</h3>
        <ul>
          <li class="download-links">Download the binary &rarr;
            {{ range.Page.Site.Data.github.assets }}
              <a href="{{ .url }}">{{ .name | title }}</a>
            {{ end }}
          </li>
          <li>
            <code>./listmonk --new-config</code> to generate config.toml. Then, edit the file.
          </li>
          <li><code>./listmonk --install</code> to setup the Postgres DB (or <code>--upgrade</code> to upgrade an existing DB).</li>
          <li>Run <code>./listmonk</code> and visit <code>http://localhost:9000</code></li>
        </ul>
      </div>
      <div class="six columns">
        <h3>Docker</h3>
        <p><code>listmonk/listmonk:latest</code></p>
        <p>
          Use the sample <a href="https://github.com/knadh/listmonk/blob/master/docker-compose.yml">docker-compose.yml</a> 
          to run listmonk and Postgres DB with docker-compose as follows:
        </p>
        <h4>Demo</h4>
        <p><code>docker-compose up -d demo-db demo-app</code> (DO NOT use this demo setup in production.)</p>

        <h4>Production setup</h4>
        <ul>
          <li><code>docker-compose up db</code> to run the Postgres DB.</li>
          <li><code>docker-compose run --rm app ./listmonk --install</code>
            to setup the DB (or <code>--upgrade</code> to upgrade an existing DB).</li>
          <li>Run <code>docker-compose up app</code> and visit http://localhost:9000</li>
        </ul>
        <p><a href="/docs/installation">More &rarr;</a></p>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <section class="lists feature">
    <div class="row">
      <div class="six columns">
        <div class="confetti light">
          <img class="s1" src="static/images/s1.png" />
          <img class="s2" src="static/images/s2.png" />
          <img class="box" src="static/images/lists.png" alt="Screenshot of list management feature" />
        </div>
      </div>
      <div class="five columns">
        <h1>Lists</h1>
        <p>
          Manage millions of subscribers across many single and double opt-in lists
          with custom JSON attributes for each subscriber.
          Segment subscribers with SQL expressions.
        </p>
        <p>Use the super fast bulk importer or use HTTP/JSON APIs or interact with the simple
          table schema to integrate external CRMs and subscriber databases.
        </p>
      </div>
    </div>
  </section>

  <section class="templating feature">
    <div class="row">
      <div class="six columns">
        <div class="confetti light">
          <img class="s3" src="static/images/s3.png" />
          <img class="box" src="static/images/templating.png" alt="Screenshot of templating feature" />
        </div>
      </div>
      <div class="five columns">
        <h1>Templating</h1>
        <p>
          Create powerful, dynamic e-mail templates with the <a href="https://golang.org/pkg/text/template/">Go templating language</a>.
          Use template expressions and logic in subject lines and content with
          the richtext editor or work with raw syntax-highlighted HTML.</p>
      </div>
    </div>
  </section>

  <section class="performance feature">
    <div class="row">
      <div class="six columns">
        <div class="confetti light">
          <img class="s1" src="static/images/s1.png" />
          <img class="box" src="static/images/smtp.png" alt="Screenshot of performance features" />
        </div>
      </div>
      <div class="five columns">
        <h1>Performance</h1>
        <p>
          Highly configurable multi-threaded, high throughput multi-SMTP e-mail queues for super fast campaign delivery.
          Single binary application with nominal CPU and memory footprint that runs everywhere.
          The only dependency is a Postgres database.
        </p>
      </div>
    </div>
  </section>


  <section class="media feature">
    <div class="row">
      <div class="six columns">
        <div class="confetti light">
          <img class="s2" src="static/images/s2.png" />
          <img class="box" src="static/images/media.png" alt="Screenshot of media feature" />
        </div>
      </div>
      <div class="five columns">
        <h1>Media</h1>
        <p>Use the media manager to upload and link images in e-mail campaigns
          on the server's filesystem or S3. WebDav support coming soon.</p>
      </div>
    </div>
  </section>

  <section class="privacy feature">
    <div class="row">
      <div class="two columns">&nbsp;</div>
      <div class="four columns">
        <img class="box" src="static/images/privacy.png" alt="Screenshot of privacy features" />
      </div>
      <div class="five columns">
        <h1>Privacy</h1>
        <p>
          Allow subscribers to permanantely blocklist themselves, export all the data
          associated with their profile including clicks and views, and to wipe all
          their data in a single click.
        </p>
      </div>
    </div>
  </section>

  <h1 class="large center">and much more &hellip;</h1>

  <div class="center">
    <br />
    <a href="#download" class="button">Download</a>
  </div>

  <section class="banner">
    <div class="row">
      <div class="two columns">&nbsp;</div>
      <div class="eight columns">
        <div class="confetti">
          <img class="s2" src="static/images/s2.png" />
          <div class="box">
            <h1>Developers</h1>
            <p>
              listmonk is a free and open source software licensed under AGPLv3.
              If you are interested in contributing, check out the <a href="https://github.com/knadh/listmonk">GitHub repository</a>
              and refer to the <a href="https://github.com/knadh/listmonk/wiki/Developer-setup">developer setup</a>.
              The backend is written in Go and the frontend is Vue with Buefy for UI. 
            </p>
          </div>
        </div>
      </div>
      <div class="two columns">&nbsp;</div>
    </div>
  </section>
</div>

{{ partial "footer.html" }}
