body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #666;
  overflow-x: hidden;
}


h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  margin: 15px 0 15px 0;
  color: #111;
}
h1 {
  font-size: 2.2em;
  line-height: 1.2em;
  letter-spacing: -0.01em;
}
h1.large {
  font-size: 3.5em;
}
h2 {
  font-size: 2em;
  line-height: 1.4em;
}
h3 {
  font-size: 1.6em;
  line-height: 1.6em;
}
section:not(:last-child) {
  margin-bottom: 10rem;
}
a {
  color: #7f2aff;
  text-decoration: none;
}
a:hover {
  color: inherit;
}
::selection {
  background: #111;
  color: #fff;
}
code {
  background: #fff;
  color: #999;
  padding: 0 3px;
  border-radius: 2px;
}
img {
  max-width: 100%;
}

/* Helpers */
.center {
  text-align: center;
}

.box {
  border-radius: 5px;
  border: 1px solid #eee;
  box-shadow: 2px 2px 3px #f7f7f7;
}

img.box {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #e9e9e9;
  box-shadow: 2px 2px 4px #eee;
}

.button {
  background: #7f2aff;
  display: inline-block;
  text-align: center;
  font-weight: 600;
  font-size: 1.3em;

  color: #fff;
  border-radius: 100px;
  padding: 15px 30px;
  min-width: 150px;
}
.button:hover {
  background: #111;
  color: #fff;
}
.notice {
  background: #fafafa;
  border-left: 4px solid #ddd;
  color: #666;
  padding: 5px 15px;
}


/* Layout */
.container {
  max-width: none;
  width: 70vw;
  margin-left: 15vw;
}
.header {
  padding: 5vh 0 90px 0;
  text-align: left;
}

.logo img {
  width: 125px;
  height: auto;
}

nav {
  text-align: right;
}
  nav .item:not(:first-child) {
    margin: 0 0 0 40px;
  }
  nav .github img {
    max-width: 32px;
    height: auto;
    vertical-align: middle;
    display: inline-block;
  }
  nav .github {
    height: 30px;
    width: 150px;
    vertical-align: middle;
  }


.splash {
  min-height: 80vh;
}
  .splash .container {
    width: 85vw;
    margin: 0 0 0 15vw;
  }
  .splash .vertical {
    display: flex;
    align-items: center;
    position: relative;
  }
  .splash h1 {
    font-weight: 700;
    max-width: 90%;
  }
  .splash h3 {
    font-weight: 400;
    color: #888;
  }
  .splash img {
    border-radius: 5px 0 0 5px;
  }

.confetti {
  position: relative;
}
  .confetti .s1, .confetti .s2, .confetti .s3 {
    position: absolute;
  }
  .confetti.light .s1, .confetti.light .s2, .confetti.light .s3 {
    opacity: 0.30;
  }
  .confetti .s1 {
    left: -35px;
    top: 20%;
    z-index: 10;
  }
  .confetti .s2 {
    z-index: 30;
    right: 20%;
    top: -12px;
  }
  .confetti .s3 {
    z-index: 30;
    left: 15%;
    bottom: 0;
  }
  .confetti .box {
    position: relative;
    z-index: 20;
  }

#download {
  background: #f9f9f9;
  padding: 30px 0;
  border-width: 1px 0;
}
  #download .download-links a:not(:last-child) {
    display: inline-block;
    margin-right: 15px;
  }

.feature .row {
  display: flex;
  align-items: center;
}

.banner {
  padding-top: 90px;
}
.banner .box {
    background: #fff;
    padding: 30px 60px;
    border: 3px solid #7f2aff;
  }

.footer {
  border-top: 1px solid #eee;
  padding-top: 30px;
  margin: 90px 0 30px 0;
  color: #777;
}

@media screen and (max-width: 1400px) {
  .container {
    width: 90vw;
    margin: 0 0 0 5vw;
  }
  .splash .container {
    width: 95vw;
    margin-left: 5vw;
  }
}
@media screen and (max-width: 1010px) {
  .splash .container {
    padding-right: 5vw;
  }
  .header {
    padding: 30px 0 0 0;
  }
  nav {
    text-align: left;
  }
  .splash .vertical {
    display: block;
  }
  .splash .s4 {
    display: none;
  }
  .feature .row {
    display: block;
  }

  section:not(:last-child) {
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 420px) {
  nav .item:not(:first-child) {
    margin: 0 0 0 15px;
  }
}
@media screen and (max-width: 338px) {
  nav .item {
    margin: 0 0 10px 0 !important;
    display: block;
  }
}